@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">TV Shows</h1>
    
    <p>In the TV Show section you can update and track your favorite TV Shows</p>
</div>
